@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Barlow+Condensed:wght@300&family=Play&family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
}

ul {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 3vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    background-color: #121212;
    border-bottom: 1px solid white;
}
.nav-menu {
      display: none;
}
.nav-menu button{
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 4px;
}
.nav-menu button:hover{
    background-color: white;
    color: #121212;
    transition: .3s;

}
.nav-name{
    padding-right: 50vw;
}

.nav-name a {
    font-style: italic;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-settings {
    padding-right: 0;
}

.nav-settings a {
    padding-left: 10px;
    color: yellow;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.nav-settings a:hover {
    padding-left: 10px;
    color: gold;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.main-container {
    animation: inicializar .8s forwards;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #121612;
}

.main-left {
    padding-left: 4vw;
    padding-right: 5vw;
    width: 55%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-left h1 {
    color: #fdce01;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    width: 70%;
    padding-top: 0;
    margin-top: 0;
}

.main-left h2 {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 120px;
    margin: 0;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-left p {
    padding-top: 0;
    margin-top: 0;
    width: 70%;
    margin-bottom: 80px;
    color: white;
    text-align: center;
    font-family: 'roboto', sans-serif;
    text-align: start;
    font-weight: 600;

}

.link-logo {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    padding-top: 0;
}

.img-link {
    width: 40px;
    transition: transform .3s;
    border-radius: 25%;
    border: 2px solid #202020;
    background-color: #454545;

}

.img-link:hover {
    transform: scale(1.2);
    letter-spacing: 0.5px;
    background-color: #252525;
    border: 2px solid #202020;
}

.main-center {
    height: 90vh;
    width: 45%;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
}

#img {
    margin-right: 120px;
    margin-top: 165px;
    width: 25vw;
    border: 2px solid #fdce01;
    border-radius: 25%;
    transform: scaleX(-1);

}

.main-center h2 {
    margin-right: 120px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.main-right {
    width: 5%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-right a {
    color: wheat;
    padding-bottom: 50px;
    transition: .3s;
}

.main-right i {
    font-size: 25px;
}

.main-right a:hover {
    color: yellow;
    padding-bottom: 50px;
    transform: scale(1.1);
}

.main-container-profile {
    animation: inicializar .8s forwards;
    height: 100vh;
    width: 100%;
    border-top: 3px solid black;
    background-color: rgb(10, 10, 10);
}

.main-container-profile>h1 {
    margin: 0;
    color: goldenrod;
    padding-top: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.text-profile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: floralwhite;
}

.text-left {
    padding-top: 6vh;
    width: 50%;
    padding-left: 10vw;
    padding-right: 5vw;
}

.text-left p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
}

.text-right {
    padding-top: 6vh;
    width: 50%;
    padding-left: 5vw;
    padding-right: 10vw;
}

.text-right p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;

}

.main-container-skills {
    animation: inicializar .8s forwards;
    height: 100vh;
    width: 100%;
    background-color: #121612;
}

.main-container-skills>h1 {
    font-size: 44px;
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
}

.skills-card {
    position: relative;
    width: 12%;
    height: 20vh;
    background-color: #303030;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: transform .3s;
    cursor: pointer;

}

.skills-card:hover {
    transform: scale(1.09);
    background-color: #303035;
}

.skills-card p {
    position: absolute;
    transition: .3s;
    opacity: 0;
    text-align: center;
    color: white;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
    width: 60%;


}

.skills-card:hover .img-logo {
    opacity: 0;

}

.skills-card:hover p {
    opacity: 1;
}

.img-logo {
    width: 100%;
    height: 10vh;
    transition: .3s;
    opacity: 1;

}

.main-container-projects {
    animation: inicializar .8s forwards;
    border-top: 3px solid black;
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

.main-container-projects>h1 {
    margin: 0;
    color: goldenrod;
    padding-top: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-projects {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prev-slider {
    transform: scaleX(-1);
}

.slider-project {
    position: relative;
    width: 55%;
    height: 60vh;
    background-color: beige;
    border-radius: 8px;
    border: 3px solid darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.parent-slider {
    position: absolute;
    width: 100%;

}

.btn-slider {
    color: darkgoldenrod;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .3s;
}

.btn-slider:hover {
    transform: scale(1.10);
}

.slider {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.on {
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.img-project {
    position: relative;
    width: 100%;
    height: 60vh;
    z-index: 2;
    border-radius: 4px;
}

.titulo-slider {
    position: absolute;
    z-index: 3;
    padding-bottom: 21.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-slider h3 {
    font-family: 'Play', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
}

.slider-button-active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 22.5rem;

}

.slider-button-active button {
    margin: 10px;
    z-index: 3;
    width: 6vw;
    height: 3vh;
    background-color: rgb(250, 250, 142);
    color: black;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform .2s;
    font-size: 9px;
}

.slider-button-active button:hover {
    transform: scale(1.04);
    letter-spacing: 0.5px;
    background-color: #121212;

}

.main-container-contact {
    animation: inicializar .8s forwards;
    border-top: 3px solid black;
    height: 100vh;
    width: 100%;
    background-color: #121612;

}

.main-container-contact>h1 {
    font-size: 44px;
    margin: 0;
    color: white;
    padding-top: 60px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;

}

form {
    display: flex;
    flex-direction: column;

}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    display: none;
}

input {
    margin-bottom: 8px;
    width: 40vw;
    height: 2.5rem;
    outline: none;
    border-radius: 4px;
    border: 0.5px solid black;
    background-color: #454545;
    padding-left: 10px;
    color: white;
}

textarea {
    width: 40vw;
    outline: none;
    border-radius: 4px;
    border: 0.5px solid black;
    background-color: #404040;
    padding-left: 10px;
    font-size: 15px;
    color: white;
}

.btn-email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.btn-email button {
    width: 100px;
    height: 6vh;
    border-radius: 4px;
    background-color: #fdce01;
    color: black;
    cursor: pointer;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif7;
    font-size: 12px;
    text-transform: uppercase;
    transition: transform 0.3s;
    border: 2px solid black;

}

.btn-email button:hover {
    transform: scale(1.06);
    background-color: gold;
}

.dados {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dados input {
    width: 50%;
}

.container-footer {
    background-color: #303030;
    height: 10vh;
    text-align: center;

}

.container-footer p {
    border-top: 3px solid black;
    padding-top: 25px;
    margin: 0;
    color: wheat;
}

.menu-active {
    opacity: 0;
    width: 250px;
    background-color: #121612;
    height: 100vh;
    position: fixed;
    z-index: 2;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-menu h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blanchedalmond;
}

li {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

li a {
    text-decoration: none;
    color: antiquewhite;
    width: 40vw;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: .5rem;
}

li a:hover {
    background-color: antiquewhite;
    color: #121612;
}

li>a span {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}



@media screen and (max-width: 1200px) {
    .text-profile p {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 15px;
    }


}

@media screen and (max-width: 700px) {
    ul {
        position: fixed;
    }

    .nav-menu {
        
        width: 100px;
        display: flex;
        padding-left: 100px;
        padding-right: 100px;
    }

    .nav-menu>button {
        padding-left: 1rem;
    }

    .nav-settings {
        display: none;
    }

    .main-container {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-left {
        width: 90%;
        height: 100vh;
        background-color: #121612;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-left h1 {
        color: #fdce01;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 35px;
        width: 70%;
        padding-top: 0;
        margin-top: 0;
    }

    .main-left h2 {
        font-size: 20px;
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 120px;
        margin: 0;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .main-left p {
        padding-top: 0;
        margin-top: 0;
        width: 70%;
        margin-bottom: 80px;
        color: white;
        text-align: center;
        font-family: 'roboto', sans-serif;
        text-align: start;
        font-size: 15px;
        padding-right: 20px;
        padding-left: 20px;
        font-weight: 700;
    }

    .link-logo {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 0;
    }

    .main-right {
        width: 100%;
        height: 30vh;
        background-color: #121612;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .main-center {
        display: none;
    }

    .main-container-profile {
        height: 110vh;
        width: 100%;
        border-top: 3px solid black;
        background-color: rgb(10, 10, 10);
    }

    .main-container-profile>h1 {
        margin: 0;
        color: goldenrod;
        padding-top: 60px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .text-profile {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

    }

    .text-profile p {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 11px;
        color: floralwhite;
    }

    .text-left {
        padding-top: 6vh;
        width: 70%;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .text-right {
        padding-top: 6vh;
        width: 70%;
        padding-left: 10vw;
        padding-right: 10vw;

    }

    .skills-card {
        width: 80px;
        height: 15vh;
        background-color: #303030;
        border-radius: 8px;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        transition: transform .3s;
        cursor: pointer;
    }
    .skills-card p {
        position: absolute;
        transition: .3s;
        opacity: 0;
        text-align: center;
        color: white;
        font-family: 'roboto', sans-serif;
        font-size: 6px;
        font-weight: 600;
        width: 60%;
    }
    .img-logo {
        width: 100%;
        height: 2rem;
    }

    .main-container-projects>h1 {
        margin: 0;
        color: goldenrod;
        padding-top: 60px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .slider-project {
        position: relative;
        width: 60%;
        height: 20vh;
        background-color: beige;
        border-radius: 8px;
        border: 3px solid darkgoldenrod;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .parent-slider {
        position: absolute;
        width: 100%;
        height: 20vh;

    }

    .slider {
        margin: 0;
        padding: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .on {
        margin: 0;
        padding: 0;
        opacity: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .titulo-slider {
        position: absolute;
        z-index: 3;
        padding-bottom: 7.2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo-slider h3 {
        font-family: 'Play', sans-serif;
        color: whitesmoke;
        text-decoration: none;
        font-size: 11px;
    }

    .project-active {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-project {
        width: 100%;
        height: 20vh;
        margin: 0;
        padding-bottom: 0;
        background-size: cover;
    }

    .slider-button-active {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 54%;

    }

    .slider-button-active button {
        margin: 3px;
        z-index: 3;
        width: 9vw;
        height: 1vh;
        background-color: rgb(250, 250, 142);
        color: black;
        text-transform: uppercase;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: transform .2s;
        font-size: 3px;
    }

    .slider-button-active button:hover {
        transform: scale(1.04);
        letter-spacing: 0.5px;
        background-color: #121212;

    }

    .menu-active {
        height: 90vh;
        opacity: 1;
        width: 100%;
        background-color: #121612;
        position: fixed;
        z-index: 3;
        display: none;
    }

    .form-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 4rem;

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    label {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: 200;
        color: white;
    }

    input {
        margin-bottom: 8px;
        width: 50vw;
        height: 1.5rem;
        outline: none;
        border-radius: 4px;
        border: 0.5px solid black;
    }

    input::placeholder {
        font-size: 12px;
    }

    textarea {
        width: 50vw;
        height: 7rem;
        outline: none;
        border-radius: 4px;
        border: 0.5px solid black;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dados {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .dados input {
        width: 100%;
    }

    .btn-email button {
        width: 54vw;
        height: 5vh;
        border-radius: 4px;
        background-color: #fdce01;
        color: black;
        cursor: pointer;
        border: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif7;
        font-size: 12px;
        text-transform: uppercase;
        transition: transform 0.3s;
        border: 2px solid black;

    }

    .container-footer p {
        border-top: 3px solid black;
        padding-top: 25px;
        margin: 0;
        color: white;
        font-size: 12px;
    }

}